Fetching Data from TMDB API about Top rated movies

In [1]:
import pandas as pd
import requests

In [2]:
requests.get('https://api.themoviedb.org/3/movie/550?api_key=deccc67f4772624bebf1db0433145e08')
#Response [200] means that data is fetched
#Response [404] means that data is unavailable
#Response [500] means that server is down

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/550?api_key=deccc67f4772624bebf1db0433145e08')

In [11]:
response.json()['production_companies']
#Converting into a json format
#We can also view the json file with the json viewer web app

[{'id': 508,
  'logo_path': '/7cxRWzi4LsVm4Utfpr1hfARNurT.png',
  'name': 'Regency Enterprises',
  'origin_country': 'US'},
 {'id': 711,
  'logo_path': '/tEiIH5QesdheJmDAqQwvtN60727.png',
  'name': 'Fox 2000 Pictures',
  'origin_country': 'US'},
 {'id': 20555,
  'logo_path': '/hD8yEGUBlHOcfHYbujp71vD8gZp.png',
  'name': 'Taurus Film',
  'origin_country': 'DE'},
 {'id': 54051,
  'logo_path': None,
  'name': 'Atman Entertainment',
  'origin_country': ''},
 {'id': 54052,
  'logo_path': None,
  'name': 'Knickerbocker Films',
  'origin_country': 'US'},
 {'id': 4700,
  'logo_path': '/A32wmjrs9Psf4zw0uaixF0GXfxq.png',
  'name': 'The Linson Company',
  'origin_country': 'US'},
 {'id': 25,
  'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
  'name': '20th Century Fox',
  'origin_country': 'US'}]

In [45]:
pd.DataFrame(response.json()['production_companies'])
#Converting into a DataFrame

      id                         logo_path                 name origin_country
0    508  /7cxRWzi4LsVm4Utfpr1hfARNurT.png  Regency Enterprises             US
1    711  /tEiIH5QesdheJmDAqQwvtN60727.png    Fox 2000 Pictures             US
2  20555  /hD8yEGUBlHOcfHYbujp71vD8gZp.png          Taurus Film             DE
3  54051                              None  Atman Entertainment
4  54052                              None  Knickerbocker Films             US
5   4700  /A32wmjrs9Psf4zw0uaixF0GXfxq.png   The Linson Company             US
6     25  /qZCc1lty5FzX30aOCVRBLzaVmcp.png     20th Century Fox             US

In [16]:
pd.DataFrame(response.json()['production_companies']).head(2)

    id                         logo_path                 name origin_country
0  508  /7cxRWzi4LsVm4Utfpr1hfARNurT.png  Regency Enterprises             US
1  711  /tEiIH5QesdheJmDAqQwvtN60727.png    Fox 2000 Pictures             US

In [26]:
pd.DataFrame(response.json()['production_companies'])[['name','logo_path']]
#Extracting what we need

                  name                         logo_path
0  Regency Enterprises  /7cxRWzi4LsVm4Utfpr1hfARNurT.png
1    Fox 2000 Pictures  /tEiIH5QesdheJmDAqQwvtN60727.png
2          Taurus Film  /hD8yEGUBlHOcfHYbujp71vD8gZp.png
3  Atman Entertainment                              None
4  Knickerbocker Films                              None
5   The Linson Company  /A32wmjrs9Psf4zw0uaixF0GXfxq.png
6     20th Century Fox  /qZCc1lty5FzX30aOCVRBLzaVmcp.png

In [32]:
temp_df = pd.DataFrame(response.json()['production_companies'])[['name','logo_path']]
#Storing into a temporary variable

In [34]:
temp_df.shape

(7, 2)

In [30]:
#Creating an Empty DataFrame
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [40]:
for i in range(1,3):
    response = requests.get('https://api.themoviedb.org/3/movie/550?api_key=deccc67f4772624bebf1db0433145e08')
    temp_df = pd.DataFrame(response.json()['production_companies'])[['name','logo_path']]
    df = df.append(temp_df,ignore_index = True)
    
#There were 2 to 3 pages so we ran a loop and figured out the remaining data

C:\Users\dhruv\AppData\Local\Temp\ipykernel_11884\3882804912.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df,ignore_index = True)
C:\Users\dhruv\AppData\Local\Temp\ipykernel_11884\3882804912.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df,ignore_index = True)

In [41]:
df

                   name                         logo_path
0   Regency Enterprises  /7cxRWzi4LsVm4Utfpr1hfARNurT.png
1     Fox 2000 Pictures  /tEiIH5QesdheJmDAqQwvtN60727.png
2           Taurus Film  /hD8yEGUBlHOcfHYbujp71vD8gZp.png
3   Atman Entertainment                              None
4   Knickerbocker Films                              None
5    The Linson Company  /A32wmjrs9Psf4zw0uaixF0GXfxq.png
6      20th Century Fox  /qZCc1lty5FzX30aOCVRBLzaVmcp.png
7   Regency Enterprises  /7cxRWzi4LsVm4Utfpr1hfARNurT.png
8     Fox 2000 Pictures  /tEiIH5QesdheJmDAqQwvtN60727.png
9           Taurus Film  /hD8yEGUBlHOcfHYbujp71vD8gZp.png
10  Atman Entertainment                              None
11  Knickerbocker Films                              None
12   The Linson Company  /A32wmjrs9Psf4zw0uaixF0GXfxq.png
13     20th Century Fox  /qZCc1lty5FzX30aOCVRBLzaVmcp.png

In [ ]:
#And thats how we fetched data from an API, converted the json file into a pandas DataFrame and Finally extracted the necessary 
#columns and Data